name: force-generate

on:
  workflow_dispatch:

jobs:
  force-generate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 24.13.1

      - run: echo "pnpm_version=$(node -p 'require(`./Builder/package.json`).packageManager.replace(/^pnpm@/, ``)')" >> $GITHUB_OUTPUT
        id: pnpm-version

      - uses: pnpm/action-setup@v4
        with:
          version: ${{ steps.pnpm-version.outputs.pnpm_version }}

      - run: pnpm install
        working-directory: Builder

      - run: pnpm start:force
        id: build
        working-directory: Builder

      - uses: EndBug/add-and-commit@v9
        if: ${{ steps.build.outputs.updated == 'true' }}
        with:
          author_name: GitHub Action
          author_email: github-actions[bot]@users.noreply.github.com
          message: |
            chore: update data to build ${{ steps.build.outputs.build }}
          add: Builder/buildInfo.txt Monitor.lua
