name: build

on:
  push:
    branches:
      - master
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version: 24.12.0

      - run: echo "pnpm_version=$(node -p 'require(`./Builder/package.json`).packageManager.replace(/^pnpm@/, ``)')" >> $GITHUB_OUTPUT
        id: pnpm-version

      - uses: pnpm/action-setup@v4
        with:
          version: ${{ steps.pnpm-version.outputs.pnpm_version }}

      - run: pnpm install
        working-directory: Builder

      - run: pnpm lint
        working-directory: Builder

      - name: Install and Run Luacheck
        uses: nebularg/actions-luacheck@v1
        with:
          args: "--no-color -q"
          annotate: warning

      - name: Find globals
        uses: LiangYuxuan/action-findglobals@v2
        with:
          find-args: "! -path \"./Libs/*\""

      # - name: Update CurseForge Translations
      #   uses: LiangYuxuan/action-wowace-localization-import@v3
      #   env:
      #     CF_API_KEY: ${{ secrets.CF_API_KEY }}

      - name: Create Retail Package
        uses: BigWigsMods/packager@v2
        env:
          GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
          CF_API_KEY: ${{ secrets.CF_API_KEY }}
          WOWI_API_TOKEN: ${{ secrets.WOWI_API_TOKEN }}
          WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}
